{% extends "layout.html" %}

{% block content %}
  <h2>About us</h2>
  <p>We keep it simple. You are only going to get out of this what effort that you put in. Sadly, the autopilot takes work to setup. However, once you're setup - that's it. Your results will vary, though the bottom line is this: this is a business, you have to treat it as such. Even though you have the ability of working anywhere you have an internet connection - you have to put in the time to make sure everything is setup. Once it's all setup you then have to optimize. This is a process, so please if you are looking for the general hyped "Get Rich Quick" scheme - please look elsewhere. We are real people offering you a real solution. With no fake pictures or unrealistic expectations, only facts based on implementation. </p>
{% endblock %}
