{% extends "layout.html" %}

{% block content %}
  <h2>About us</h2>
    <p>We keep it simple. You are only going to get out of this what effort you put in. Sadly, the autopilot takes work to setup. However, once you're setup - that's it. Your results will vary, though the bottom line is this: this is a business, you have to treat it as such. Even though with our business plan you will have the luxury of working anywhere you can access an internet connection - you have to put in the time to make sure everything is setup. Once it's all setup you then have to optimize. This is a process, if you are looking for the general hyped "Get Rich Quick" scheme - please look elsewhere. We are real people offering you a real solution. With no fake pictures, hyped flashy graphics or unrealistic expectations, only facts based on implementation. </p>
{% endblock %}
