{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Make Money - Autopilot{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
{% block navbar %}
    <header>
      <div class="container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" align=left>
<strong><nav>
          <ul class="menu">
           <li><a href="{{ url_for('home') }}">Home</a></li>
           <li><a href="{{ url_for('about') }}">About</a></li>
           <li><a href="{{ url_for('contact') }}">Contact</a></li>
       </ul>
   </nav></strong>
</div>
</header>
{% endblock %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  <ul class="footer">
    <li>All Rights Reserved &copy; 2014 - ePays.net</li>
    <li><a href="{{ url_for('privacy') }}">Privacy</a></li>
    <li><a href="{{ url_for('unsubscribe') }}">Unsubscribe</a></li>
  </div>
{% endblock %}
</html>
