{% extends "layout.html" %}

{% block content %}
  <h2>Privacy Policy</h2>
  <p>We are committed to keeping all of your personal details safe and secure. Our Privacy Policy strictly protects the security of your personal information and honors your choices for it's intended use. We carefully protect your data from loss, misuse, unauthorized access or disclosure, alternation or destruction.</p>
&nbsp;
  <h3>Collecting Your Personal Information</h3>
  <p>We are committed to protecting your privacy. We will only use the information collected about you lawfully (in accordance with the Data Protection Act 1998). We will not pass on your details to any third party and do not send marketing e-mails to customers unless they have registered to receive such material, purchased from us or downloaded one of our free or paid products.</p>
&nbsp;
  <h3>The Type of Infromation Collected Includes: </h3>
  <p>Your full name
  <br>Your e-mail address</br>
  Your postal address
  </p>
&nbsp;
&nbsp; 
  <h4>Disclaimer</h4>
  <p>Generally, this information is requested when you are downloading our products or subscribe to one of our newsletters We will never collect sensitive information about you without your consent. The information that we hold will be accurate and up to date. You can check the information that we hold about you by emailing us. Upon request we will delete you promptly.</p>
{% endblock %}
